現在選択中の写真
- if flash[:error].present?
  %ul.errors
    - flash[:error].each do |e|
      %p
        %i
          = e
.address-__form
- @images.each do |img|           
  = image_tag img.image.url
= form_with(model: @item, local: true) do |f|
  .field
    %p
      %br/
      = f.fields_for :images do |i|
        = i.label :image, "画像"
        = i.file_field :image
  .field
    %p
      = f.label :name, "商品名"
      %br/
      = f.text_field :name, placeholder: "40字まで", maxlength: "40"
  .field
    %p
      = f.label :explannation, "商品の説明"
      %br/
      = f.text_area :explannation, placeholder:"商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
  .field
    %p
      = f.label :category_id, "カテゴリー"
      %br/
      = f.collection_select :category_id, Category.all.order("id ASC").limit(4), :id, :name, include_blank: "選択して下さい"
  .field
    %p
      = f.label :brand_name, "ブランド名"
      %br/
      = f.text_field :brand_name, placeholder: "例) シャネル", maxlength: "40"
  .field
    %p
      = f.label :status, "状態"
      %br/
      = f.select :status, ['新品、未使用', '未使用に近い', '目立った傷や汚れなし', 'やや傷や汚れあり', '傷や汚れあり', '全体的に状態が悪い'], {include_blank: '選択して下さい'}
  .field
    %p
      = f.label :size, "サイズ"
      %br/
      = f.text_field :size, maxlength: "40"
  .field
    %p
      = f.label :shipper, "配送料の負担"
      %br/
      = f.select :shipper, [['送料込み(出品者負担)', true], ['着払い(購入者負担)', false]], {include_blank: '選択して下さい'}
    %p
      = f.label :shipping_method, "配送の方法"
      %br/
      = f.select :shipping_method,['未定', 'らくらくメルカリ', 'ゆうメール'] , {include_blank: '選択して下さい'}
  .field
    %p
      = f.label :shipping_area, "発送元の地域"
      %br/
      = f.collection_select :shipping_area, Prefecture.all, :name, :name, include_blank: "選択して下さい"
  .field
    %p
      = f.label :lead_time, "発送までの日数"
      %br/
      = f.select :lead_time, ['1~2日で発送', '2~3日で発送', '4~7日で発送'], {include_blank: '選択して下さい'}
  .field
    %p
      = f.label :price, "販売価格"
      %br/
      = f.number_field :price, in: 300..9999999, step: 1, placeholder: "300"
  .fee
    販売手数料 (10%)
  .profit
    販売利益
  
    = f.submit "更新"
      
    = link_to item_path, method: :delete do
      削除
= link_to "#" do
  %button 下書きに保存
%br/
= link_to "戻る", :back







-# これを9行目