.category
  .category__index
    .category__index__title
      カテゴリー一覧
    - @categories.each do |category|
      .category__index__one
        = category.name

  .category__contents
    .category__contents__content
      - @categories.each do |parent|
        .category__contents__content__list
          %h1
            = parent.name
          .category__contents__content__list__parentLink
            = link_to "すべて", category_path(parent.id), class: :category__contents__content__list__parentLink__name
          .category__contents__content__list__child
            - parent.children.each do |child|
              = child.name
              .category__contents__content__list__child__grandchild
                = link_to "すべて", category_path(child.id), class: :catecgory__contents__content__list__child__grandchild__name
                - child.children.each do |grandchild|
                  = link_to "#{grandchild.name}", category_path(grandchild.id), class: :category__contents__content__list__child__grandchild__name