.itemIndex
  .itemIndex__title
    - if @category.is_root?
      = "#{@category.name}"
    - elsif @category.has_parent? && @category.has_children?
      = "#{@category.parent.name} > #{@category.name}"
    - else
      = "#{@category.root.name} > #{@category.parent.name} > #{@category.name}"
  .itemIndex__subtitle
    = "#{@category.name}の商品一覧"
  .itemIndex__items
    - @items.each do |item|
      = link_to item_path(item) do
        .itemIndex__items__item
          .itemIndex__items__item__imageGroup
            .itemIndex__items__item__imageGroup__image
              = image_tag item.images[0].image.url, size: "188x188"
            .itemIndex__items__item__imageGroup__price
              .itemIndex__items__item__imageGroup__price__value
                ¥
                = item.price.to_s(:delimited)
          .itemIndex__items__item__name
            = item.name
  .pagienate
    = paginate @items