%header
  .headerInner
    .headerInner__mainHeader
      = link_to root_path, class: "headerInner__mainHeader__linkArea" do
        = image_tag '/images/logo/logo.png',class: "headerInner__mainHeader__linkArea__image"
      .headerInner__mainHeader__seachArea
        = form_with url: "#", class: 'headerInner__mainHeader__seachArea__form' do |f|
          = f.text_field :keyword, placeholder: "キーワードから探す", class: 'headerInner__mainHeader__seachArea__form__input'
          .headerInner__mainHeader__seachArea__form__submitArea
            = f.button '', class: 'headerInner__mainHeader__seachArea__form__submitArea__submit' do
              = image_tag '/images/icon/icon-search 1.png',class: "headerInner__mainHeader__seachArea__form__submitArea__icon"
    .headerInner__nav
      .headerInner__nav__leftItems
        .headerInner__nav__leftItems__category
          = link_to "カテゴリー", categories_path, id: "incremental"
        .headerInner__nav__leftItems__brand
          = link_to "ブランド", brands_path
      .headerInner__nav__rightItems
        - if user_signed_in?
          .headerInner__nav__rightItems__logout
            = link_to "ログアウト", destroy_user_session_path, method: :delete
          .headerInner__nav__rightItems__mypage
            = link_to "マイページ", users_path
        - else
          .headerInner__nav__rightItems__login
            = link_to "ログイン", new_user_session_path
          .headerInner__nav__rightItems__signup
            = link_to "新規会員登録", signup_step1_path

