!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample73a
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    %script{type: "text/javascript"} Payjp.setPublicKey('pk_test_96c8f07fa4a5305ea257a355');
  %body
    = render '/layouts/header'
    - flash.each do |key, value|
      .deviseInfo
        - unless key == "errors"
          = content_tag(:div, value, class: key)
    = yield
    = render '/layouts/appDL'
    = render '/layouts/itemsell'
    = render '/layouts/footer'