.address-__form
= form_with(model: @account, local: true) do |f|
  .field
    = f.label :郵便番号
    %br/
    = f.text_field :post_num, placeholder: :post_num
  .field
    = f.label :都道府県
    %br/
    = f.text_field :prefecture, placeholder: :prefecture
  .field
    = f.label :市区町村
    %br/
    = f.text_field :city, placeholder: :city
  .field
    = f.label :番地
    %br/
    = f.text_field :city_num, placeholder: :city_num
  .field
    = f.label :建物名
    %br/
    = f.text_field :city_num, placeholder: :building
  .field
    = f.label :電話番号
    %br/
    = f.text_field :city_num, placeholder: :phone_num
  .field 
    = f.submit "登録する"
    -# [.field]クラス名を変更・設定してからマークアップをお願いします
    -# 各formの最後にクラス名の付与をお願いします




